App h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}
.menu {
  width: 200px;
  background-color: rgb(202, 202, 202);
  height: 100vh;
}
.header {
  background-color: #61dafb;
}
.main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.task-wrapper {
  padding: 1rem;
}
.task__main-elements {
  display: flex;
  justify-content: space-between;
}

/* Define styles for homepage component  */
.home-container {
  padding-left: 1rem;
}
.home-list-name {
  padding-bottom: 1rem;
}
.home-task {
  padding-bottom: 0.5rem;
  padding-right: 2rem;
}
.home-task-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-task-completed {
  text-decoration: line-through;
}
